<div class="container" [class.is-mobile]="isMobile()">
  <mat-toolbar class="main-toolbar">
    <button
      mat-icon-button
      [matTooltip]="snav.opened ? 'Collapse' : 'Expand'"
      matTooltipPosition="right"
      matTooltipShowDelay="750"
      matTooltipHideDelay="50"
      (click)="snav.toggle()"
      style="transform: scaleX(-1)"
    >
      <mat-icon>view_sidebar</mat-icon>
    </button>
    <h1 class="app-name">Grade Tracker</h1>
    <span class="spacer"></span>
    <button mat-icon-button routerLink="sheet-view">
      <mat-icon>view_list</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container
    class="sidenav-container"
    [hasBackdrop]="true"
    [style.marginTop.px]="isMobile() ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="isMobile() ? 'over' : 'side'"
      [fixedInViewport]="isMobile()"
      fixedTopGap="56"
      class="sidenav-side"
    >
      <mat-toolbar class="sidenav-side-toolbar">
        <button
          mat-icon-button
          (click)="onFolderClick($event, 'left')"
          (contextmenu)="onFolderClick($event, 'right')"
        >
          <mat-icon>folder</mat-icon>
        </button>
        <button
          mat-icon-button
          [routerLink]="[{ outlets: { sidenav: ['search-files'] } }]"
        >
          <mat-icon>search</mat-icon>
        </button>
        <button
          mat-icon-button
          [routerLink]="[{ outlets: { sidenav: ['bookmarked'] } }]"
        >
          <mat-icon>bookmark</mat-icon>
        </button>
        <span class="spacer"></span>
        <button mat-icon-button routerLink="settings">
          <mat-icon>settings</mat-icon>
        </button>
      </mat-toolbar>
      <ng-container>
        <router-outlet
          name="sidenav"
          class="sidenav-side-content"
        ></router-outlet>
      </ng-container>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-main">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<div
  #menuTrigger="matMenuTrigger"
  [matMenuTriggerFor]="folderMenu"
  [style.top]="folderMenuPosition.y"
  [style.left]="folderMenuPosition.x"
  style="position: fixed; width: 0; height: 0"
></div>

<mat-menu #folderMenu="matMenu">
  <button mat-menu-item (click)="chooseFolder()">
    <mat-icon>folder_open</mat-icon>
    Choose Folder
  </button>
</mat-menu>
