<ng-container *ngFor="let gradeBook of gradeBooks; let bookIndex = index">
  <div class="table-container">
    <h3 class="course-name">{{ gradeBook.courseName }}</h3>
    <mat-table
      #table
      [dataSource]="gradeBook.assessments"
      class="mat-elevation-z8"
      cdkDropList
      cdkDropListData="gradeBook.assessments"
      (cdkDropListDropped)="drop($event, gradeBook.assessments, table)"
    >
      <!-- Icon Column -->
      <ng-container matColumnDef="icon">
        <mat-header-cell *matHeaderCellDef>
          <mat-icon class="assessment-icon">school</mat-icon>
        </mat-header-cell>
        <mat-cell *matCellDef>
          <mat-icon class="drag-cursor" style="">reorder</mat-icon>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef>
          <mat-icon style="visibility: hidden">airport_shuttle</mat-icon>
        </mat-footer-cell>
      </ng-container>

      <!-- Assessments Column -->
      <ng-container matColumnDef="assessment">
        <mat-header-cell *matHeaderCellDef>
          <span>Assessment</span>
        </mat-header-cell>
        <mat-cell *matCellDef="let assessments">
          <ng-container
            *ngIf="
              !isEditing(bookIndex, assessments, 'assessment');
              else editAssessment
            "
          >
            <span (click)="startEdit(bookIndex, assessments, 'assessment')">{{
              assessments.assessment
            }}</span>
          </ng-container>
          <ng-template #editAssessment>
            <input
              matInput
              [(ngModel)]="editingCell!.currentValue"
              (keydown.enter)="finishEdit()"
              (keydown.escape)="cancelEdit()"
              autofocus
            />
          </ng-template>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef>
          <span>Total</span>
        </mat-footer-cell>
      </ng-container>

      <!-- Grade Column -->
      <ng-container matColumnDef="grade">
        <mat-header-cell *matHeaderCellDef>Grade</mat-header-cell>
        <mat-cell *matCellDef="let assessments">
          <ng-container
            *ngIf="!isEditing(bookIndex, assessments, 'grade'); else editGrade"
          >
            <span (click)="startEdit(bookIndex, assessments, 'grade')">{{
              assessments.grade | number: ".2-2"
            }}</span>
          </ng-container>
          <ng-template #editGrade>
            <input
              matInput
              [(ngModel)]="editingCell!.currentValue"
              (keydown.enter)="finishEdit()"
              (keydown.escape)="cancelEdit()"
              autofocus
            />
          </ng-template>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef>
          Letter Grade: {{ getLetterGrade(gradeBook.assessments) }}
        </mat-footer-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef>Weight</mat-header-cell>
        <mat-cell *matCellDef="let assessments">
          <ng-container
            *ngIf="
              !isEditing(bookIndex, assessments, 'weight');
              else editWeight
            "
          >
            <span (click)="startEdit(bookIndex, assessments, 'weight')">{{
              assessments.weight | percent
            }}</span>
          </ng-container>
          <ng-template #editWeight>
            <input
              matInput
              [(ngModel)]="editingCell!.currentValue"
              (keydown.enter)="finishEdit()"
              (keydown.escape)="cancelEdit()"
              autofocus
            />
          </ng-template>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef>{{
          getTotalWeight(gradeBook.assessments) | percent
        }}</mat-footer-cell>
      </ng-container>

      <!-- Contribution Column -->
      <ng-container matColumnDef="contribution">
        <mat-header-cell *matHeaderCellDef>Contribution</mat-header-cell>
        <mat-cell *matCellDef="let assessments">{{
          getContribution(assessments) | number: ".2-2"
        }}</mat-cell>
        <mat-footer-cell *matFooterCellDef>{{
          getTotalContribution(gradeBook.assessments) | number: ".2-2"
        }}</mat-footer-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="displayedColumns; sticky: true"
        style="border-bottom: 1px solid #e0e0e0"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"
        cdkDrag
        cdkDragBoundary=".mat-elevation-z8"
        [cdkDragData]="row"
      ></mat-row>
      <mat-footer-row
        *matFooterRowDef="displayedColumns; sticky: true"
        style="border-top: 1px solid #e0e0e0"
      ></mat-footer-row>
    </mat-table>
  </div>
</ng-container>
