.table-container {
  margin: 16px;
  padding: 0 16px;
  border: 2px solid #e0e0e0;
  border-radius: 16px;
  overflow: auto;
}

.clickable {
  cursor: pointer;
  text-decoration: bold;
}

.course-name {
  margin-left: 16px;
}

.mat-mdc-footer-row {
  font-weight: bold;
}

.mat-column-icon {
}

.mat-column-assessment,
.mat-column-grade,
.mat-column-weight,
.mat-column-contribution {
  flex: 6 1 0;
  /* flex-grow: 8; */
}

table {
  width: 100%;
}

.drag-cursor {
  margin-right: 16px;
  cursor: move;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background-color: blue; /* FIXME: */
}

.cdk-drag-placeholder {
  opacity: 50;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .mat-row:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
