<div class="file-tree-container" (contextmenu)="backgroundRightClick($event)">
  <mat-tree
    #tree
    [dataSource]="dataSource()"
    [childrenAccessor]="childrenAccessor"
    class="file-tree"
  >
    <!-- leaf node -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <button class="file-button" mat-button (click)="onNodeClick(node)">
        <mat-icon>description</mat-icon>
        {{ node.stem }}
      </button>
    </mat-tree-node>

    <!-- nested node(s) -->
    <mat-tree-node
      *matTreeNodeDef="let node; when: hasChild"
      matTreeNodePadding
      matTreeNodeToggle
      [cdkTreeNodeTypeaheadLabel]="node.stem"
    >
      <button
        mat-icon-button
        matTreeNodeToggle
        [attr.aria-label]="'Toggle ' + node.stem"
      >
        <mat-icon class="mat-icon-rtl-mirror">
          {{ tree.isExpanded(node) ? "folder_open" : "folder" }}
        </mat-icon>
      </button>
      {{ node.stem }}
    </mat-tree-node>
  </mat-tree>
</div>

<!-- Context Menu Trigger -->
<div
  #menuTrigger="matMenuTrigger"
  [matMenuTriggerFor]="fileTreeMenu"
  [style.top]="fileTreeMenuPosition.y"
  [style.left]="fileTreeMenuPosition.x"
  style="position: fixed; width: 0; height: 0"
></div>

<mat-menu #fileTreeMenu="matMenu">
  <button mat-menu-item (click)="newFolder()">
    <mat-icon>create_new_folder</mat-icon>
    <span>New Folder</span>
  </button>
  <button mat-menu-item (click)="newFile()">
    <mat-icon>insert_drive_file</mat-icon>
    <span>New File</span>
  </button>
</mat-menu>
