<mat-tree
  #tree
  [dataSource]="dataSource()"
  [childrenAccessor]="childrenAccessor"
>
  <!-- leaf node -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <button class="file-button" mat-button (click)="onNodeClick(node)">
      <mat-icon>description</mat-icon>
      {{ node.stem }}
    </button>
  </mat-tree-node>

  <!-- nested node(s) -->
  <mat-tree-node
    *matTreeNodeDef="let node; when: hasChild"
    matTreeNodePadding
    matTreeNodeToggle
    [cdkTreeNodeTypeaheadLabel]="node.stem"
  >
    <button
      mat-icon-button
      matTreeNodeToggle
      [attr.aria-label]="'Toggle ' + node.stem"
    >
      <mat-icon class="mat-icon-rtl-mirror">
        {{ tree.isExpanded(node) ? "folder_open" : "folder" }}
      </mat-icon>
    </button>
    {{ node.stem }}
  </mat-tree-node>
</mat-tree>
